@charset "UTF-8";   



.tela { 
    width: 375px;
    height: 200px;

}

div > #tela {
    color: white;
    margin: 0px;
    font-size: 65px;
    padding-right: 30px;
    padding-top: 120px;
    text-align: end;

}

#calculadora { 
    background-color: black;
    width: 375px;
    height: 650px;
    
    font-family: Arial, Helvetica, sans-serif;
    
    font-weight: bold;
    border-radius: 10px;
    padding-left: 10px;
    
    
}

button { 
    width: 80px;
    height: 80px;
    border-radius: 60px;
    font-size: 25px;
    margin: 4px;
    

}

.number { 
    background-color: #343434;
    color: white; 
}
.operacoes { 
    background-color: #FF9504;
    color: white;  
}

#zero { 
    width: 168px;
}

#limpar, #maismenos, #porcentagem { 
    background-color: #A6A6A6;
    color: black;
}

